body {
    margin:0;
}

a:-webkit-any-link {
  text-decoration: none;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Teko&display=swap');

.header-container {
    width: 100vw;
    height: 52px;
    background-color: #ccc;
  }
  
.navbar {
    width: 60%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  @media screen and (max-width: 600px) {
    
    .logoSportshop {
      display:none;
    }

    .sportshop {
      margin-left: -18px;
      font-size: 1.6rem;
      padding-bottom: 7px;
    }

    .search {
      width: 122px;
      margin-right: 0px;
    }

    .search #inputSearch::placeholder {
      color: transparent;
    }

    .cardListBox {
      display: block!important;
    }

    .cardListBox div {
      margin: 0 auto;
    }
  }

 